
<div class="container">
  <form [formGroup]="form" action="#">
    <input 
    [ngClass]="{'border-danger': name.invalid && name.touched}"
    class="form-control mt-5 mb-2" formControlName="name" 
    type="text" placeholder="name">

    <span  
    *ngIf="name.errors && name.errors['required'] && name.touched" 
    class="text-danger mb-2">
      Name can not be empty</span>
    <span  
    *ngIf="name.errors && name.errors['minlength'] && name.touched" 
    class="text-danger mb-2">
    Minimum Character is 5</span>

    <input  class="form-control mb-2" formControlName="lastName" type="text"  placeholder="lastName">
    
  
    <form [formGroup]="addressGroup" >
      <label class="form-label" for="">Address</label>
      <input class="form-control mb-2" formControlName="house1" type="text" placeholder="house 1">
      <input class="form-control mb-2" formControlName="house2" type="text" placeholder="house 2">
    </form>
    <button class="btn btn-primary mt-3" (click)="logForm()">Log Form</button>

  </form>
</div>

<app-countries></app-countries>
